@use "../abstract";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(16%)
        saturate(2740%) hue-rotate(212deg) brightness(99%) contrast(95%);
    --body-color: #fafafd;
    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-color-icon: #fff;
    @include abstract.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --top--menu-border-color: #d2d1d6;
    --top--menu-link-hover: #0071dc;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    //Category item 
    --cate-item-bg: #eee; 
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;
    @include abstract.screen(md) {
        --cate-item-bg: #fff; 
    }

    // Filter
    --filter-btn-color: #6C6C72;
    --filter-btn-bg: #fff;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);
    
    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow:  rgba(200, 200, 200, 0.40);
    --filter-form-tag-color: #f8f8fb;
    --footer-form-color: #fff;

    // Footer 
    --footer-bg-color: #eee;
    // Auth
    --auth-content-bg: #fff;
    @include abstract.screen(md) {
        --auto-intro-bg: #fff;
    }

    // Form
    --form-placeholder-color: #d2d1d6;
}
