@use "../abstract";

.footer {
    margin-top: 50px;
    padding: 50px 0;
    background: var(--footer-bg-color);
    &__row {
        display: grid;
        grid-template-columns:  2fr 1.3fr 1fr 1fr 1.5fr;
        gap: 60px;

        @include abstract.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__logo-box .logo {
        margin-left: 0;
    }

    &__heading {
        font-weight: 800;
        font-size: 1.8rem;
    }

    &__desc {
        margin-top: 30px;
        line-height: 1.5;
        @include abstract.screen(lg) {
            width: min(410px, 100%);
        }
    }

    &__list {
        margin-top: 18px;
    }

    &__help-text {
        margin-top: 40px;
        line-height: 1.4;
        @include abstract.screen(xl) {
            margin-top: 20px;
        }
    }

    &__lable {
        margin-top: 20px;
        font-weight: 500;
        @include abstract.screen(xl) {
            margin-top: 25px;
        }
    }

    &__link {
        display: inline-block;
        padding: 8px 0;
        line-height: 1.4;
        font-size: 1.5rem;
    }

    &__link:hover {
        color: #0071dc;
    }

    &__form {
        display: flex;
        gap: 10px;
        padding: 16px 0;

        @include abstract.screen(xl) {
            flex-direction: column;
        }

        @include abstract.screen(lg) {
            flex-direction: row;
        }
    }

    &__input {
        width: 100%;
        padding: 8px 12px;
        border-radius: 6px;
        border: 2px solid #d2d1d6;
        font-size: 1.5rem;
        font-weight: 500;
        @include abstract.screen(lg) {
            width: 60%;
        }

        @include abstract.screen(sm) {
           flex: 1;
        }

        &::placeholder {
            font-weight: 600;
        }

    }

    &__text {
        color: var(--fotter-color-text);
        padding: 8px 0;
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    &__payments {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        &-icon {
          background: #ddd;
        }
    }

    &__seperate {
        margin-top: 25px;
        width: 98%;
        height: 1px;
        background: #000;
    }

    &__bottom {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include abstract.screen(md) {
            flex-direction: column-reverse;
            gap: 50px;
        }
    }

    &__copyright {
        color: var(--fotter-color-text);
        @include abstract.screen(sm) {
            text-align: center;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        filter: grayscale(50%);
        transition: translate, filter;
        transition-duration: 0.3s;
        @include abstract.screen(md) {
            width: 42px;
            height: 42px;
        }

        &--facebook {
            background: #4863a9;
        }

        &--youtobe {
            background: #f00;
        }

        &--tiktok {
            background: #000;
        }

        &--twitter {
            background: #4999e6;
        }

        &--linkedin {
            background: #2f71ab;
        }

        &:hover {
            filter: grayscale(0);
            translate: 0 -3px;
        }
    }

    &__socials-icon {
        width: 14px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);

            @include abstract.screen(sm) {
                width: 18px;
            }
        
    }
}
