@use "../abstract";

.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    @include abstract.screen(md) {
        gap: 10px;
        margin-left: 39px;
    
    }

    @include abstract.screen(lg) {
        margin-left: 14px;
    }
    
    @include abstract.screen(sm) {
        margin-left: 0;
    }
    &__img {
        @include abstract.screen(lg) {
            width: 24px;
        }
        @include abstract.screen(md) {
            width: 32px;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }
}