*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Godirta, sans-serif;
    color: var(--text-color);
    background: var(--body-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

// a và img chỉ highlight color khi sd tren pc 
a,img ,button, input, textarea, select{
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}
