<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Footer-column 1 -->
            <div class="footer__col">
                <!-- Logo -->
                <div class="footer__logo-box">
                    <a href="./" class="logo">
                        <img
                            src="./assets/icons/Logo.svg"
                            alt="grocerymart"
                            class="logo__img"
                        />
                        <h1 class="logo__title">grocerymart</h1>
                    </a>
                </div>
                <ul class="footer__list">
                    <li>
                        <p class="footer__desc">
                            No matter what business you are in, you must
                            demonstrate professionalism and create your own
                            value.
                        </p>
                    </li>
                    <li>
                        <p class="footer__help-text">
                            Receive product news and updates.
                        </p>
                    </li>
                    <form action="" class="footer__form">
                        <input
                            type="text"
                            class="footer__input"
                            placeholder="Email adress"
                        />
                        <button class="btn btn--primary">SEND</button>
                    </form>

                    <div class="footer__payments">
                        <div class="footer__payments-icon">
                            <img src="./assets/img/payment/visa.svg" alt="" />
                        </div>
                        <div class="footer__payments-icon">
                            <img
                                src="./assets/img/payment/maestro.svg"
                                alt=""
                            />
                        </div>
                        <div class="footer__payments-icon">
                            <img
                                src="./assets/img/payment/mastercard.svg"
                                alt=""
                            />
                        </div>
                        <div class="footer__payments-icon">
                            <img src="./assets/img/payment/paypal.svg" alt="" />
                        </div>
                        <div class="footer__payments-icon">
                            <img src="./assets/img/payment/visa.svg" alt="" />
                        </div>
                    </div>
                </ul>
            </div>
            <!-- Footer-col 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">SHOP</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Coffee</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beans</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link"
                            >Nespresso* Original</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Coffee Machines</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Accessories</a>
                    </li>
                </ul>
            </div>
            <!-- Footer-col 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">SUPPORT</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">FAQs</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Contact us</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Store locator</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Order status</a>
                    </li>
                </ul>
            </div>
            <!-- Footer-col 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">COMPANY</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                </ul>
            </div>
            <!-- Footer-col 5 -->
            <div class="footer__col">
                <h3 class="footer__heading">CONTACT</h3>
                <ul class="footer__list">
                    <li>
                        <p class="footer__lable">Email</p>
                        <a href="#!" class="footer__link"
                            >contact@grocerymart.com</a
                        >
                    </li>
                    <li>
                        <p class="footer__lable">Hotline</p>
                        <div class="footer__tel">
                            <a href="#!"
                                ><i class="fa-solid fa-phone-volume"></i>
                            </a>
                            <a href="#!" class="footer__link">18008888 </a>
                        </div>
                    </li>
                    <li>
                        <p class="footer__lable">Adress</p>
                        <p class="footer__text">
                            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa
                            Ward, Cau Giay District, City. Hanoi
                        </p>
                    </li>
                    <li>
                        <p class="footer__lable">Hours</p>
                        <p class="footer__text">
                            M - F 08:00am - 06:00pm
                        </p>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="footer__seperate"></div>
        <div class="footer__bottom">
            
            <p class="footer__copyright">
                © 2010 - 2025 Grocery Mart. All rights reserved.
            </p>
            <div class="footer__socials">
                <a href="#!" class="footer__socials-link footer__socials-link--facebook">
                    <img
                        src="./assets/icons/facebook.svg"
                        alt=""
                        class="footer__socials-icon"
                    />
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--youtobe">
                    <img
                        src="./assets/icons/youtube.svg"
                        alt=""
                        class="footer__socials-icon"
                    />
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--tiktok">
                    <img
                        src="./assets/icons/tiktok.svg"
                        alt=""
                        class="footer__socials-icon"
                    />
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--twitter"
                    ><img
                        src="./assets/icons/twitter.svg"
                        alt=""
                        class="footer__socials-icon"
                /></a>
                <a href="#!" class="footer__socials-link footer__socials-link--linkedin"
                    ><img
                        src="./assets/icons/linkedin.svg"
                        alt=""
                        class="footer__socials-icon"
                /></a>
            </div>
        </div>
    </div>
</div>
